* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --strongCyan: hsl(172, 67%, 45%);
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --grayishCyan: hsl(184, 14%, 56%);
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --anchocalculadora: 350px;
}
body{
  background-color: var(--lightGrayishCyan);
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  min-width: 450px;
}
section {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.calculadora {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  min-width: 670px;

}

.ingreso {
  border-radius: 20px 0px 0px 20px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(7, auto);
  gap: 15px;
  padding: 15px;
  width: 50%;
  min-width: 335px;
  background-color: var(--white);
  grid-template-areas:
    "labelBill . ."
    "costo . ."
    "labelSelectTip labelSelectTip labelSelectTip"
    "cinco diez quince"
    "veinticinco cincuenta custom"
    "labelNumberPeople labelNumberPeople labelNumberPeople"
    "cantPersonas . .";
}
.salida {
  border-radius: 0px 20px 20px 0px;
  background-color: var(--veryDarkCyan);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 35px;
  width: 50%;
  min-width: 375px;
  
 
}
.aladerecha{
  justify-content: right;
}
.labelBill {
  grid-area: labelBill;
}
.labelSelectTip {
  grid-area: labelSelectTip;
}
#tag-costo {
  grid-area: costo;
}
.cinco {
  grid-area: cinco;
}
.diez {
  grid-area: diez;
}
.quince {
  grid-area: quince;
}
.gris {
  background-color: gray;
}

.veinticinco {
  grid-area: veinticinco;
}
.cincuenta {
  grid-area: cincuenta;
}

.labelAmount{
  grid-area: labelAmount;
}
#custom {
  grid-area: custom;
  text-align: center;
}
.labelNumberPeople {
  grid-area: labelNumberPeople;
}
#tag-people {
  grid-area: cantPersonas;
}
.gris {
  background-color: gray;
}

input {
  text-align: right;
}

.selectedColor{
  background-color: var(--strongCyan);
}

.primaryColor{
  background-color: var(--veryDarkCyan);
}
.fondoColor{
  background-color: var(--veryLightGrayishCyan);
}

.fuente{ 
  color: var(--white);
}
.fuenteGris{ 
  color: gray;
  font-size: 60%;
}
.font60{ 
  font-size: 60%;
}
.font80{ 
  font-size: 50%;
}

p{
  line-height : 0px;
}
.centrar{
  text-align: center;
  border-radius: 10px;
}
#tag-costo {
  position: relative;
}
#dolar{
  position: relative;
  left: 0.5em;
  top: -1.5em;
}
#custom{
  font-size: 100%;
}
#costo{
  font-size: 100%;
}
#tag-people {
  position: relative;
}
#cantPersonas{
  font-size: 100%;
}
#imgpeople{
  position: relative;
  left: 0.5em;
  top: -1.5em;
}

.descuento:hover {
  background-color: var(--strongCyan);
  color: var(--veryDarkCyan);
  cursor: pointer;
}

#botonreset:hover {
  background-color: var(--grayishCyan) !important;
  cursor: pointer;
}
h1{
  font-size:x-large;
  color: var(--veryDarkCyan);
}
@media only screen and (max-width: 800px) {
  section{
    display: flex;
    margin-left: 1px;
    margin-right: 1px;
    justify-content: center;
  }
  .calculadora{
    flex-direction: column;
    width: var(--anchocalculadora);
    min-width: var(--anchocalculadora);
  }
  .ingreso{
    border-radius: 20px 20px 0px 0px;
    width: var(--anchocalculadora);
    min-width: var(--anchocalculadora);
  }
  .salida{
    border-radius: 0px 0px 20px 20px;
    width: var(--anchocalculadora);
    min-width: var(--anchocalculadora);
  }
}

@media only screen and (max-width: 375px) {
  
}